/* SIDEBAR */

.sidebar {
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #F5D10D;
  position: absolute;
  height: 100%;
  overflow: auto;
  border-radius: 10px;
}

.sidebar a {
  display: block;
  color: black;
  padding: 12px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 20px;
    text-align: center;
}
 
.sidebar a:hover {
  background-color: #020202;
  color: white;
  transition: 0.7s;
}

.sidebar-hori{
    width: 100%;
    height: 2px;
}

.sidebar-head{
    color: black;
    text-align: center;
}


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

@media screen and (min-device-width: 1100px) {
    .sidebar{
        margin-top: 20px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .sidebar{
        margin-top: 20px;
        height: 45%;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px)  {
    .sidebar{
        display: none;
    }
}

/*   PICTURE GRID  */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  width: 90%;
}

.column {
  flex: 100%;
  margin-bottom: 20px;
    margin-left: -50px;
}

.column img {
  vertical-align: middle;
    border-radius: 20px;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
}

.container:hover .overlay {
  opacity: 0.8;
    border-radius: 20px;
}

.text {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* Tablet Styles */
@media only screen and (min-width: 481px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
}


/* Desktop Styles */
@media only screen and (min-width: 1024px) {
    .column {
      flex: 33.3%;
      max-width: 33.3%;
    }
    
    .row{
        margin-left: 150px;
        margin-top: 3rem;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px)  {
    .row{
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    .image{
        width: 150%;
        height: auto;
        margin-left: -33px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .row{
        margin-top: 20px;
        margin-left: 120px;
        width: 90%;
    }
    
    .column{
        margin-bottom: 30px;
        margin-right: 40px;
    }
    
    .image{
        width: 120%;
        height: auto;
    }
}




/* POPULAR */

.popular {
    margin-top: 5rem;
    text-align: center;
}

.pop_head {
    color: #F6E71D;
}

.outer-grid {
   display: flex;
   flex-wrap: wrap;
   padding: 0 4px;
}
.inner-grid {
   flex: 25%;
   max-width: 25%;
   padding: 0 4px;
}
.inner-grid img {
   margin-top: 8px;
   width: 100%;
   padding: 10px;
   border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 800px) {   
    .inner-grid {
      flex: 50%;
      max-width: 50%;
   }
}
@media screen and (max-width: 600px) {
   .inner-grid {
      flex: 100%;
      max-width: 100%;
   }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .popular{
        margin-top: 8rem;
    }
}

@media screen and (min-device-width: 1100px) {
    .popular {
        margin-top: 10rem;
    }
}

.pop_para {
    color: #F6E71D;
}

/* ANIMATION */

body{
    animation: transitionIn 1s ease-in;
    
}

@keyframes transitionIn{
    from{
        opacity: 0;
        transform: translateY(-50px);
    }
    
    to{
        opacity: 1;
        transform: translateY(0);
    }
}



/* Main accordion container 
========================================================================== */
.accordion {
  background-color: #161616;
  width: 90%;
  margin: 10px auto 0;
  padding: 5px 20px;
  border-radius: 20px;
    margin-left: 170px;
}

.accordion:hover{
  cursor: pointer;
}

/* Main accordion title 
========================================================================== */
.accordion h1{
  display: inline;
  font-weight: 100;
}

/* Main accordion arrow 
========================================================================== */
.accordion button{
  font-size: 35px;
  background-color: transparent;
  border-style: none;
  padding: 0;
    display: block;
  margin-left: auto;
    margin-right: auto;
  margin-top: 10px;
  outline: none;
}


/* Accordion dropdown panel
========================================================================== */
.accordion-panel{
  padding: 10px 15px;
    margin-left: 185px;
  min-width: 85%;
  max-width: 88%;
  border-width: 2px;
  background-color: #161616;
  border-color: #161616;
  border-style: solid;
  border-top: none;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

/* Rotate class for dropdown button
========================================================================== */

.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    color: white;
}

.rotate.up {
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .accordion{
        display: block;
        margin-left: 100px;
        margin-right: auto;
    }
    
    .accordion button{
        font-size: 30px;
    }
}


@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
    .accordion{
        display: block;
        margin-left: 70px;
        margin-right: auto;
    }
    
    .accordion button{
        margin-left: 85px;
        font-size: 25px;
    }
}