/* SIDEBAR */

.sidebar {
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #F5D10D;
  position: absolute;
  height: 100%;
  overflow: auto;
  border-radius: 10px;
}

.sidebar a {
  display: block;
  color: black;
  padding: 12px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 20px;
    text-align: center;
}
 
.sidebar a:hover {
  background-color: #020202;
  color: white;
  transition: 0.7s;
}

.sidebar-hori{
    width: 100%;
    height: 2px;
}

.sidebar-head{
    color: black;
    text-align: center;
}


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

@media screen and (min-device-width: 1100px) {
    .sidebar{
        margin-top: 20px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .sidebar{
        margin-top: 20px;
        height: 60%;
        width: 12%;
    }
    
    .sidebar-head{
        font-size: 25px;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px)  {
    .sidebar{
        display: none;
    }
}




/* ARTCILE1 -- Theoretical approaches to psychotherapy */


.arcimg1{
    width: 40%;
    height: auto;
    margin-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.heading{
    text-align: center;
    font-size: 50px;
    margin-top: 1.5rem;
    color: #F6E71D;
    margin-left: 60px;
}

.arcname{
    text-align: center;
    margin-top: 10px;
}

.paragraph{
    margin-top: 1.5rem;
    margin-left: 70px;
    margin-right: auto;
    width: 90%;
}

.paragraph p{
    color: white;
    font-size: 22px;
    text-align: left;
}

.paragraph ul{
    color: white;
    font-size: 22px;
    text-align: left;
}

.psy{
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.reference{
    font-size: 22px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.reference ul{
   color: #F6E71D; 
}

.reference ul li a{
    color: #F6E71D;
    line-height: 1.6;
    text-decoration: none;
    word-wrap: break-word;
}

.reference ul li a:hover{
    color: #ffffff;
    transition: 0.3s ease-in-out;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .heading{
        font-size: 50px;
    }
    
    .arcname{
        margin-left: 300px;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
    }
    
    .psy{
        width: 80%;
        height: auto;
    }
    .arcimg1{
        width: 75%;
        height: auto;
        margin-left: 120px;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
    .arcimg1{
        width: 80%;
        height: auto;
        margin-left: 50px;
    }
    
    .heading{
        font-size: 40px;
        margin-left: 30px;
    }
    
    .arcname{
        margin-left: 160px;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        font-size: 20px;
    }
    
    .psy{
        width: 80%;
        height: auto;
    }
    
    .paragraph{
        margin-left: 40px;
    }
}

/* MORE ARCTICLES */

#more_arc{
    margin-top: 4rem;
}

.more_arc_img{
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
}

.more_arc_para{
    color: #F6E71D;
    width: 90%;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}